@import 'tailwindcss';

/* Ensures Tailwind's dark mode utility triggers based on our Context Provider's class */
@variant dark (&:is(.dark, .dark *));

/* Global Application Reset & Root Layout 
  This ensures our React application scales to the full screen height 
  and maintains a flexible column layout for our routing Shell.
*/
#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* You can leave global, tag-level typography resets here if desired, 
  but Tailwind's base reset usually handles this automatically!
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
